body{
    background-color: black;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1660311466787-419b75305c13?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");

}

div.container{
    width: 30rem;
    height: 45rem;
    margin: 7rem auto 3rem auto;
    background-color: rgba(35, 35, 35, 0.581);
    border-radius: 30px;
    border:  1px solid rgba(240, 248, 255, 0.656);
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 5px 5px #d0d0d03e;
}
div.rosto{
    transform: translateX(-50%); /* centralizahorizontalmente */
    width: 10rem;
    height: 10rem;
    position: relative;
    left: 50%;
    right: 50%;
    top: -4rem;
    background-image: url("https://images.unsplash.com/photo-1669646749614-f4d1debf84be?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center-center;
    background-attachment: fixed;
    border-radius: 50%;
    background-color: black ;
    border:1px inset rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(233, 233, 233, 0.679);


}

.rosto:hover{
    padding: 10px;
    transition: 0.3s;
 

}
h1.nome{
    text-align: center;
    justify-content: center;
    position: relative;
    top: -3rem;
    text-decoration: line-through;
    color: #d1cecee9;;
}
h2.arromba{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -4rem;
    color: #f9feffe8; 
}
a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    top: -3rem;
    position: relative;
    display: flex;
    padding: 15px;
    flex-direction: row;
    color: rgb(18, 18, 19);
    text-align: center;
    margin: 25px;
    background-color: rgba(253, 253, 253, 0.695);
    border-color: 10px solid black;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
      transition: all 0.5s ease;
}
p{
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: bolder;
    color:  #aca8a8e9;
}
a:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(233, 233, 233, 0.679);
}
a::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(255, 255, 255, 0.733)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
a:hover::before{
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);

}

.nome{
    font-size: 40px;
    font-weight: bold;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1744024450738-b040cffc7ff9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1228'); 
    background-size: 200%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
