body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center-center;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1760340769739-653d00200baf?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");

}

div.container{
    width: 30rem;
    height: 45rem;
    margin: 7rem auto 3rem auto;
    background-color: rgba(35, 35, 35, 0.581);
    border-radius: 30px;
    border:  1px solid rgba(240, 248, 255, 0.656);
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 5px 5px #d0d0d084;
}
div.rosto{
    transform: translateX(-50%); /* centralizahorizontalmente */
    width: 10rem;
    height: 10rem;
    position: relative;
    left: 50%;
    right: 50%;
    top: -4rem;
    background-image: url("https://images.unsplash.com/photo-1669646749614-f4d1debf84be?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center-center;
    background-attachment: fixed;
    border-radius: 50%;
    background-color: black ;
    border:1px inset rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(15px);
     box-shadow: 2px 2px 2px 2px #2222224a;


}

.rosto:hover{
    padding: 10px;
    transition: 0.6s ;
    transform: rotateY('360deg');

}
h1.nome{
    text-align: center;
    justify-content: center;
    position: relative;
    top: -3rem;
    text-decoration: line-through;
    color: #3c3c3ce9;;
}
h2.arromba{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -4rem;
    color: #f9feffe8; 
}
a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    top: -3rem;
    position: relative;
    display: flex;
    padding: 15px;
    flex-direction: row;
    color: rgb(18, 18, 19);
    text-align: center;
    margin: 25px;
    background-color: rgba(253, 253, 253, 0.695);
    border-color: 10px solid black;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
p{
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: bolder;
    color:  #3c3c3ce9;
}
a:hover{
    background-color: rgb(85, 87, 87);
    transition-duration: 0.7s;
    padding: 20px;
    box-shadow: 10px 5px insetrgb(85, 87, 87);

}